body {
	box-sizing: border-box;
	font-family: sans-serif;
}
img {
	width: 75px;
}
div.main {
	border: 7px solid teal;
	display: table-cell;
	vertical-align: middle;
	height: 800px;
	padding: 0 50px;
	min-width: 800px;
}
.purple {
	color: #891aa5;
}
div.gray {
	float: left;
	margin-right: 30px;
	background-color: grey;
	padding: 30px;
}
div.blue {
	background-color: lightcyan;
	border: 5px solid blue;
	width: 225px;
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}
div.inner-gray {
	background-color: lightgray;
	padding: 10px;
	border: 2px solid darkgray;
	/* margin: 15px; */
	font-size: 13px;
}
div.inner-gray p {
	margin: 0;
}
div.wireframe {
	margin: 0 0 0 365px;
	border: 2px solid purple;
	height: 322px;
}
.wireframe-top {
	border-width: 0 0 2px 0;
	border-style: solid;
	position: relative;
	text-align: right;
}
div.wireframe-body p {
	margin: 10px;
}
div.numbers {
	display: inline-block;
	letter-spacing: 7px;
	margin: -10px 12px;
}
.wireframe-body {
	display: flex;
	text-align: center;
	align-content: center;
	padding: 87px;
}
.letters {
	position: absolute;
	/* align-items: center; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
